#body {
    background-color: rgb(225, 220, 220);

}

#main-container {
    display: flex;
    width:80%;
    height: 100vh;  
    
}

#left-content {
    width: 30%;
    margin: 20px 30px;
    background-color: rgb(46, 48, 48);
    text-align: center;
}

hr {
    width: 80%;
}


#om-image {
    border-radius: 50%;
}

#image {
  justify-content: center;
}

#main-nav a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 25px;
    color: rgb(108, 103, 103);
    
}

#main-nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

#main-nav a:hover {

    color: rgb(38, 12, 38);
    

}

#main-nav li a.active {

    color: white;
   
}

#right-content {
    width: 70%;
    margin: 20px 30px;
}

#main-text {
    padding-right: 25%;
}

p,
a,
h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
h2 {
    background-color: lightgray;
    padding: 5px;
}

p {
    font-size: 18px;
}

h1 {
    font-family: serif;
    color: rgb(38, 12, 38);
}

#titel {
    color: rgb(38, 12, 38);
}